
html{
    font-size: 30px;
}
#div0{
    /* here vh is view hieght that is browser page hieght */
    height: 50vh;
/*    height: 100px;*/
/* here vh is view width that is browser page width */
    width: 50vw;
/*    width: 150px;*/
    background-color: cyan;
}

#div1{
/* rem is relative to the fontsize of the root element */
/* by default 1rem = 20px but also we change rem value in <html as written in top of the page */
    height: 4rem;
    /*75vh;*/
    /*200px;*/
    width: 6rem;
    /*100vw;*/
    /*300px;*/
    background-color: #393a7b;
    /*rgba(25,126,200, 1);*/
    /*#393a7b;*/
}


#div2{
    height: 50%;
/*    height: 100px;*/
    width: 50%;
/*    width: 150px;*/
    background-color: cyan;
}


